
.text{
    position: absolute;
    left: 500px;
    top: 100px;
    font-size:50px;
}
.text22{
    position: absolute;
    left: 500px;
    top: 150px;
    font-size:40px;
}
.back-Ap{
    position: relative;
    width: 100%;
    height: 226px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
}
.cnc{
    position: absolute;
    width: 390px;
    height: 223px;
    left: 16px;
    top: -3px;
}
.back-Main{
    position: relative;
    width: 100%;
    height: 627px;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
}
.back-Left{
    position: absolute;
    left: 10px;top: 5px;
    width: 261px;
    height: 613px;
    background-repeat: no-repeat;
    border: 1px solid #9D9D9D;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.33);
}
.back-Down{
    position: relative;
    width: 100%;
    height: 172px;
    left: 0px;
    top: 0px;
    background: #7F8482;
    }
.master{
    position: absolute;
    width: 687px;
    height: 97px;
    left: 450px;
    top: 50px;
}
.main-button{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

    width: 200px;
    height: 50px;
    left: 470px;
    top: 151px;

    background: #97CEB4;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
.main-button:hover{
    background-color:#C4F1DB;
}
.reg-button{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    text-align: center;

    width: 160px;
    height: 45px;
    left: 1180px;
    top: 90px;

    background: #97CEB4;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
.reg-button:hover{
    background-color:#C4F1DB;
}
.vhod-button{
    position: absolute;
    font-style: normal;
    font-weight:600;
    font-size: 20px;
    line-height: 20px;

    width: 125px;
    height: 35px;
    left: 1200px;
    top: 160px;

    background: #B8B6B6;
    filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.7));
    border-radius: 20px;
}
.vhod-button:hover{
    background-color:#E6E6E6;
}
.left-button1{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    width: 200px;
    height: 50px;
    left: 30px;
    top: 50px;

    background: linear-gradient(180deg, rgba(119,122,121,0.6) 0%, rgba(165,175,170,0) 62%);
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
.left-button1:hover{
    background: #E6E6E6;
}
.left-button2{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    width: 200px;
    height: 50px;
    left: 30px;
    top: 140px;

    background: rgb(119,122,121);
    background: linear-gradient(180deg, rgba(119,122,121,0.6) 0%, rgba(165,175,170,0) 62%);
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px
}
.left-button2:hover{
    background: #E6E6E6;
}
.left-button3{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 30px;
    top: 230px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    background: rgb(119,122,121);
    background: linear-gradient(180deg, rgba(119,122,121,0.6) 0%, rgba(165,175,170,0) 62%);
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px
}
.left-button3:hover{
    background: #E6E6E6;
}
.left-button4{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    width: 200px;
    height: 50px;
    left: 30px;
    top: 320px;

    background: rgb(119,122,121);
    background: linear-gradient(180deg, rgba(119,122,121,0.6) 0%, rgba(165,175,170,0) 62%);
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px
}
.left-button4:hover{
    background: #E6E6E6;
}
.left-button5{
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    width: 200px;
    height: 50px;
    left: 30px;
    top: 410px;

    background: rgb(119,122,121);
    background: linear-gradient(180deg, rgba(119,122,121,0.6) 0%, rgba(165,175,170,0) 62%);
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px
}
.left-button5:hover{
background: #E6E6E6;
}
.sign-down{
    /* Component 1 */
    position: absolute;
    top: 40px; left: 40px;
}
.signature1{
/* 2024 Токарный мастер */
    position: absolute;
    top: 43px; left: 63px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    cursor: default
}
.signature2{
    /*политика конфиденциальности*/
    position: absolute;
    top: 90px; left: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: default
}
.signature2:hover{
    color:white;
}
.cutterTable{
    width:auto;
    position: absolute;
    top: 300px; left: 350px;
}
.th,td{
    padding-left: 20px;
    padding-bottom: 60px;
    text-align: center;
}
.process{
    position: absolute;
    top:238px;left: 500px;
    width: 455px;
}
.guide{
    position: absolute;
    top:250px;left: 500px;
    width: 600px;
}
.machineCNC{
    position: absolute;
    top:330px;left: 500px;
    width: 700px;
}
.info{
    position: absolute;
    top:240px;left: 400px;
    width: 830px;
}
.createUser{
    position: relative;
    left: 50px;
    top: 100px;
}
.returnMain{
    position: relative;
    left: 300px;
    top: 110px;
    height: 50px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    background: rgb(119,122,121);
    background: linear-gradient(180deg, rgba(119,122,121,0.6) 0%, rgba(165,175,170,0) 62%);
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
    border-radius: 20px
}