<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
    <title>Базирование</title>
</head>
<body>
    {% include "Secondmain.html" %}

    <div class="textMashine">
        <h3>Базы и базирование</h3>
        <p>В машине, механизме, станке, детали соединяются между собой, обеспечивая передачу и преобразование движений.
            В процессе обработки заготовки (детали) закрепляются. Для ориентации заготовок во время обработки на станках,
            расположения готовых деталей в сборочных единицах (узлах) машин, измерения деталей служат поверхности, линии,
            точки и их совокупности, которые называются базами. Различают технологические и конструкторские базы.
            Технологические базы разделяются на установочные и измерительные.</p>
        <p>Установочные базы - поверхности (а также линии и точки), служащие для установки заготовки на станке и ориентирующие
            ее относительно режущего инструмента. Например, торцовая 3 и цилиндрическая 4 поверхности кулачков патрона рисунок
            а) справа, или торцовая поверхность 7 патрона и цилиндрическая поверхность 8 кулачков рисунок б),
            или конические поверхности 5 и 6 центров станка рисунок в) и др.</p>
        <img class="machineCNC" src="{% static 'img/baza1.png'%}" >
        <p>Установочными базами могут быть различные поверхности заготовок, а также центровые гнезда и плоскости.
            Например, установочными базами для втулки могут быть наружная поверхность 1 и торец 2 смотри рисунок
            а) справа, наружная 9 или внутренняя 10 цилиндрические поверхности и торец 11 рисунок г).
            В качестве баз при первоначальной обработке используют необработанные поверхности (черновые базы),
            при последующей обработке - обработанные поверхности (чистовые базы). Установочные базы делятся на основные и
            вспомогательные. Основные установочные базы - это поверхности, которые ориентируют заготовки (обрабатываемые детали)
            на станке и положение готовых деталей в машине относительно других сопрягаемых деталей при ее работе. Например,
            основными установочными базами для втулки могут являться торец 11 и внутренняя поверхность 10 рисунок г),
            если втулка монтируется на вал. Вспомогательные установочные базы - это поверхности, которые используют только для
            установки заготовок (деталей) на станке; они не имеют особого значения для работы машины. Примерами вспомогательной
            базы могут служить центровые гнезда вала, обтачиваемого и шлифуемого с установкой в центрах рисунок в),
            необработанная шестигранная поверхность головки болта и др. Измерительная база - поверхность (линия или точка),
            от которой производят отсчет размеров. Например, на левом рисунке: а) заданы размеры А и С, а размер В - свободный;
            следовательно, поверхность 2 - измерительная.</p>
        <p>Конструкторская база - совокупность поверхностей, линий, точек, от которых заданы размеры и положение деталей
            при разработке конструкции. Конструкторские базы могут быть реальными (материальная поверхность) или геометрическими
            (осевые линии, точки). При выборе черновых установочных баз руководствуются следующими правилами: базовые поверхности
            должны быть по возможности ровными и чистыми (не следует, например, принимать за базы поверхности, на которых
            располагаются литники, линии разъема моделей или заусенцы), базовые поверхности не должны изменяться относительно
            других поверхностей (не следует, например, брать за базу поверхность литого отверстия, так как его положение может
            изменяться), за базы рекомендуется принимать поверхности с минимальными припусками или вообще не подвергаемые обработке.
            При переустановке заготовки черновые базы заменяются чистовыми. При выборе чистовых установочных баз следует:
            выбирать основные базы, так как это обеспечивает большую точность обработки; соблюдать при обработке принцип постоянства
            баз; совмещать при возможности установочные и измерительные базы. Например, на рисунке а) измерительной базой является
            поверхность 2, станок настроен от установочной базы 1 на размер В, а размер С получен на предыдущей операции.
            Следовательно, установочная и измерительная базы не совпадают. Для получения размера А в пределах допуска нужно
            определить отклонения размера В, как это сделано на рисунке б); при этом установочная и измерительные базы будут
            совмещены (совпадут). В качестве базирующих поверхностей при точении применяют наружную (или внутреннюю),
            цилиндрическую поверхность и торец, два центровых гнезда, наружную (или внутреннюю) цилиндрическую поверхность
            и центровое гнездо.</p>
    </div>
</body>
</html>