<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог инструмента</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>

{% include "Secondmain.html" %}

<table class="cutterTable">
    {% for picture in img %}
    <tr>
        <th class="title">{{ picture.text }}</th>
    </tr>
    <tr>

        <td><img src="C:\Users\student\PycharmProjects\Turning_master\TurningMaster\static\{{ picture.img }}"></td>
    </tr>
    {% endfor %}
</table>


