<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Каталог инструмента</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>

{% include "Secondmain.html" %}

<table class="cutterTable">

    <tr>
        <th class="title">Резец круглый</th>
        <th class="title">Резец нейтральный</th>
        <th class="title">Резец отрезной</th>
    </tr>
    <tr>
        <td><img src="{% static 'img/crugliy.png'%}" ></td>
        <td><img src="{% static 'img/neitral.png'%}" ></td>
        <td><img src="{% static 'img/otreznoi.png'%}" ></td>
    </tr>
    <tr>
        <th class="title">Резец общего точения</th>
        <th class="title">Резец расточной</th>
        <th class="title">Резец резьбовой</th>
    </tr>
    <tr>
        <td><img src="{% static 'img/prohodnoi.png'%}" ></td>
        <td><img src="{% static 'img/rastochnoi.png'%}" ></td>
        <td><img src="{% static 'img/rezba.png'%}" ></td>
    </tr>
</table>