<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Словарь</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>
<body>
    {% include "Secondmain.html" %}

    <h2 class="spisok"> Cписок справочной литературы:</h2>
    <ol class="link-spisok">
        <li ><a href="https://standartgost.ru/news" >Открытая база ГОСТов</a></li> <br>
        <li ><a href="https://www.splav-kharkov.com/main.php" >Марочник сталей и сплавов</a></li> <br>
        <li ><a href="https://www.abrasives.ru/" >Система маркировки абразивного инструмента</a></li> <br>
        <li ><a href="http://gk-drawing.ru/" >Чертежная документация</a></li> <br>
        <li ><a href="https://stanki-katalog.ru/sprav.htm" >Каталоги и документация металлорежущих станков</a></li> <br>
        <li ><a href="https://podshipnik.mobi/klientam/blog/ustroystvo-podshipnika-kak-ustroeny-i-iz-chego-sostoyat-shemy.html" >
            Устройство подшипников </a></li> <br>
        <li ><a href="https://lib-bkm.ru/" >Библиотека машиностроителя</a></li>
    </ol>
</body>
</html>