<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Полезная информация</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>
<body>
    {% include "Secondmain.html" %}

    <div class="spisok" style="  height: 600px;overflow-y: scroll;">
    <h2>История токарного станка</h2>
    <p>История относит изобретение токарного станка к 650 гг. до н. э. Станок представлял собой два соосно
        установленных центра, между которыми зажималась заготовка из дерева, кости или рога.
        Раб или подмастерье вращал заготовку (один или несколько оборотов в одну сторону, затем в другую).
        Мастер держал резец в руках и, прижимая его в нужном месте к заготовке, снимал стружку, придавая заготовке требуемую форму.
        Позднее для приведения заготовки в движение применяли лук со слабо натянутой (провисающей) тетивой.
        Тетиву оборачивали вокруг цилиндрической части заготовки так, чтобы она образовала петлю вокруг заготовки.
        При движении лука то в одну, то в другую сторону, аналогично движению пилы при распиливании бревна,
        заготовка делала несколько оборотов вокруг своей оси сначала в одну, а затем в другую сторону.
        В XIV - XV веках были распространены токарные станки с ножным приводом. Ножной привод состоял из очепа - упругой жерди,
        консольно закрепленной над станком. К концу жерди крепилась бечевка, которая была обернута на один оборот
        вокруг заготовки и нижним концом крепилась к педали. При нажатии на педаль бечевка натягивалась,
        заставляя заготовку сделать один - два оборота, а жердь - согнуться. При отпускании педали жердь выпрямлялась,
        тянула вверх бечевку и заготовка делала те же обороты в другую сторону. Примерно к 1430 г. вместо очепа стали
        применять механизм, включающий педаль, шатун и кривошип, получив, таким образом, привод, аналогичный распространенному
        в XX веке ножному приводу швейной машинки. С этого времени заготовка на токарном станке получила вместо колебательного
        движения вращение в одну сторону в течение всего процесса точения. В 1500 г. токарный станок уже имел стальные центры и люнет,
        который мог быть укреплен в любом месте между центрами.</p>
    <p>На таких станках обрабатывали довольно сложные детали, представляющие собой тела вращения, - вплоть до шара.
        Но привод существовавших тогда станков был слишком маломощным для обработки металла, а усилия руки, держащей резец,
        недостаточными, чтобы снимать большую стружку с заготовки. В результате обработка металла оказывалась малоэффективной.
        необходимо было заменить руку рабочего специальным механизмом, а мускульную силу, приводящую станок в движение,
        более мощным двигателем. Появление водяного колеса привело к повышению производительности труда,
        оказав при этом мощное революционизирующее действие на развитие техники. А с середины XIV в. водяные приводы стали
        распространяться в металлообработке. В середине XVI Жак Бессон (умер в 1569 г.) - изобрел токарный станок для нарезки
        цилиндрических и конических винтов. В начале XVIII века Андрей Константинович Нартов (1693-1756), механик Петра Первого,
        изобретает оригинальный токарно-копировальный и винторезный станок с механизированным суппортом и набором сменных зубчатых
        колес. Чтобы по-настоящему понять мировое значение этих изобретений, вернемся к эволюции токарного станка. В XVII в.
        появились токарные станки, в которых обрабатываемое изделие приводилось в движение уже не мускульной силой токаря,
        а с помощью водяного колеса, но резец, как и раньше держал в руке токарь. В начале XVIII в. токарные станки все чаще
        использовали для резания металлов, а не дерева, и поэтому проблема жесткого крепления резца и перемещения его вдоль
        обрабатываемой поверхности стола весьма актуальной. И вот впервые проблема самоходного суппорта была успешно решена в
        копировальном станке А. К. Нартова в 1712 г. В Москве услуги токарной обработки металла.</p>
    <p>К идее механизированного передвижения резца изобретатели шли долго. Впервые эта проблема особенно остро встала при
        решении таких технических задач, как нарезание резьбы, нанесение сложных узоров на предметы роскоши,
        изготовление зубчатых колес и т.д. Для получения резьбы на валу, например, сначала производили разметку,
        для чего на вал навивали бумажную ленту нужной ширины, по краям которой наносили контур будущей резьбы.
        После разметки резьбу опиливали напильником вручную. Не говоря уже о трудоемкости такого процесса,
        получить удовлетворительное качество резьбы таким способом весьма трудно. А Нартов не только решил задачу механизации
        этой операции, но в 1718-1729 гг. сам усовершенствовал схему. Копировальный палец и суппорт приводились в движение
        одним ходовым винтом, но с разным шагом нарезки под резцом и под копиром. Таким образом было обеспечено автоматическое
        перемещение суппорта вдоль оси обрабатываемой заготовки. Правда, поперечной подачи еще не было, вместо нее было введено
        качание системы "копир-заготовка". Поэтому работы над созданием суппорта продолжались. Свой суппорт создали, в частности,
        тульские механики Алексей Сурнин и Павел Захава. Более совершенную конструкцию суппорта, близкую к современной,
        создал английский станкостроитель Модсли, но А. К. Нартов остается первым, кто нашел путь к решению этой задачи.
        Вообще нарезка винтов долго оставалась сложной технической задачей, поскольку требовала высокой точности и мастерства.
        Механики давно задумывались над тем, как упростить эту операцию. Еще в 1701 году в труде Ш.
        Плюме описывался способ нарезки винтов с помощью примитивного суппорта. Для этого к заготовке припаивали отрезок винта
        в качестве хвостовика. Шаг напаиваемого винта должен был быть равен шагу того винта, который нужно было нарезать на
        заготовке. Затем заготовку устанавливали в простейших разъемных деревянных бабках; передняя бабка поддерживала тело заготовки,
        а в заднюю вставлялся припаянный винт. При вращении винта деревянное гнездо задней бабки сминалось по форме винта и служило
        гайкой, вследствие чего вся заготовка перемещалась в сторону передней бабки. Подача на оборот была такова,
        что позволяла неподвижному резцу резать винт с требуемым шагом. Подобного же рода приспособление было на токарно-винторезном
        станке 1785 года, который был непосредственным предшественником станка Модсли. Здесь нарезка резьбы,
        служившая образцом для изготавливаемого винта, наносилась непосредственно на шпиндель, удерживавший заготовку и приводивший
        ее во вращение. (Шпинделем называют вращающийся вал токарного станка с устройством для зажима обрабатываемой детали.)
        Это давало возможность делать нарезку на винтах машинным способом: рабочий приводил во вращение заготовку,
        которая за счет резьбы шпинделя, точно так же как и в приспособлении Плюме, начинала поступательно перемещаться
        относительно неподвижного резца, который рабочий держал на палке. Таким образом ни изделии получалась резьба,
        точно соответствующая резьбе шпинделя. Впрочем, точность и прямолинейность обработки зависели здесь исключительно
        от силы и твердости руки рабочего, направлявшего инструмент. В этом заключалось большое неудобство. Кроме того,
        резьба на шпинделе была всего 8-10 мм, что позволяло нарезать только очень короткие винты.</p>
    <p>Вторая половина XVIII в. в станкостроении ознаменовалась резким увеличением сферы применения металлорежущих станков
        и поисками удовлетворительной схемы универсального токарного станка, который мог бы использоваться в различных целях.
        В 1751 г. Ж. Вокансон во Франции построил станок, который по своим техническим данным уже походил на универсальный.
        Он был выполнен из металла, имел мощную станину, два металлических центра, две направляющие V-образной формы,
        медный суппорт, обеспечивающий механизированное перемещение инструмента в продольном и поперечном направлениях.
        В то же время в этом станке отсутствовала система зажима заготовки в патроне, хотя это устройство существовало в
        других конструкциях станков. Здесь предусматривалось крепление заготовки только в центрах. Расстояние между центрами
        можно было менять в пределах 10 см. Поэтому обрабатывать на станке Вокансона можно было лишь детали примерно одинаковой
        длины. В 1778 г. англичанин Д. Рамедон разработал два типа станков для нарезания резьб. В одном станке вдоль вращаемой
        заготовки по параллельным направляющим передвигался алмазный режущий инструмент, скорость перемещения которого
        задавалась вращением эталонного винта. Сменные шестерни позволяли получать резьбы с разным шагом. Второй станок
        давал возможность изготавливать резьбу с различным шагом на детали большей длины, чем длина эталона. Резец продвигался
        вдоль заготовки с помощью струны, накручивавшейся на центральную шпонку. В 1795 г. французский механик Сено изготовил
        специализированный токарный станок для нарезки винтов. Конструктор предусмотрел сменные шестерни, большой ходовой винт,
        простой механизированный суппорт. Станок был лишен каких-либо украшений, которыми любили украшать свои изделия мастера
        прежде.</p>
    <p>Накопленный опыт позволил к концу XVIII века создать универсальный токарный станок, ставший основой машиностроения.
        Его автором стал Генри Модсли. В 1794 г. он создал конструкцию суппорта, довольно несовершенную. В 1798 г.,
        основав собственную мастерскую по производству станков, он значительно улучшил суппорт, что позволило создать вариант
        универсального токарного станка. В 1800 г. Модсли усовершенствовал этот станок, а затем создал и третий вариант,
        содержавший все элементы, которые имеют токарно-винторезные станки сегодня. При этом существенно то, что Модсли понял
        необходимость унификации некоторых видов деталей и первым стал внедрять стандартизацию резьб на винтах и гайках.
        Он начал выпускать наборы метчиков и плашек для нарезки резьб. Токарный станок Робертса Одним из учеников и продолжателей
        дела Модсли был Р. Робертс. Он улучшил токарный станок тем, что расположил ходовой винт перед станиной,
        добавил зубчатый перебор, ручки управления вынес на переднюю панель станка, что сделало более удобным управление станком.
        Этот станок работал до 1909 г. Другой бывший сотрудник Модсли - Д. Клемент создал лоботокарный станок для обработки
        деталей большого диаметра. Он учел, что при постоянной скорости вращения детали и постоянной скорости подачи по мере
        движения резца от периферии к центру скорость резания будет падать, и создал систему увеличения скорости. В 1835 г.
        Д. Витворт изобрел автоматическую подачу в поперечном направлении, которая была связана с механизмом продольной подачи.
        Этим было завершено принципиальное совершенствование токарного оборудования.</p>
    <p>Следующий этап - автоматизация токарных станков. Здесь пальма первенства принадлежала американцам.
        В США развитие техники обработки металлов началось позднее, чем в Европе. Американские станки первой половины XIХ в.
        значительно уступали станкам Модсли. Во второй половине XIХ в. качество американских станков было уже достаточно высоким.
        Станки выпускались серийно, причем вводилась полная взаимозаменяемость деталей и блоков, выпускаемых одной фирмой.
        При поломке детали достаточно было выписать с завода аналогичную и заменить сломанную деталь на целую без всякой подгонки.
        Во второй половине XIХ в. были введены элементы, обеспечивающие полную механизацию обработки - блок автоматической
        подачи по обеим координатам, совершенную систему крепления резца и детали. Режимы резания и подач изменялись быстро
        и без значительных усилий. В токарных станках имелись элементы автоматики - автоматический останов станка при достижении
        определенного размера, система автоматического регулирования скорости лобового точения и т.д. Однако основным достижением
        американского станкостроения было не развитие традиционного токарного станка, а создание его модификации - револьверного
        станка. В связи с необходимостью изготовления нового стрелкового оружия (револьверов) С. Фитч в 1845 г. разработал
        и построил револьверный станок с восемью режущими инструментами в револьверной головке. Быстрота смены инструмента
        резко повысила производительность станка при изготовлении серийной продукции. Это был серьезный шаг к созданию
        станков-автоматов. В деревообработке первые станки-автоматы уже появились: в 1842 г. такой автомат построил К. Випиль,
        а в 1846 г. Т. Слоан. Первый универсальный токарный автомат изобрел в 1873 г. Хр. Спенсер.</p>
    </div>

</body>
</html>