<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наладка ЧПУ</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>
<body>
    {% include "Secondmain.html" %}
    <div class="textMashine">
        <h3>Наладка станка с ЧПУ</h3>
        <p>В соответствии с ГОСТ 3.1109-82 наладка – подготовка технологического оборудования и технологической оснастки
            к выполнению технологической операции.</p>
        <p>В процессе наладки станка с ЧПУ необходимо выполнить
           три основных шага (как правило, в любой последовательности):</p>
        <p>- установить, закрепить и настроить положение приспособления и заготовки на станке;</p>
        <p>- собрать, настроить и установить в станок режущий инструмент с инструментальной оснасткой;</p>
        <p>- записать УП в память СЧПУ и выбрать эту УП для работы в автоматическом режиме.</p>
        <img class="machineCNC" src="{% static 'img/MachineCNC.png'%}" >
        <p>При серийном и массовом изготовлении деталей применяются специальные приспособления. На первом шаге при использовании специального приспособления, как правило, на станок устанавливается, а затем закрепляется приспособление. Далее происходит настройка приспособления, т.е. в системе ЧПУ задаются координаты положения приспособления относительно системы координат станка. После этого в приспособление устанавливают заготовку, считая, что ее положение настроено за счет контакта с
           базирующими поверхностями приспособления. Для окончательных операций обработки особоточных деталей настройка может
           происходить по установленной и закрепленной заготовке.</p>
        <p>В единичном производстве применяют универсальные приспособления или универсально-сборочные приспособления (УСП).
           В этом случае настройка происходит по установленной и закрепленной на станке заготовке. Координаты, полученные в результате
           настройки, вносятся с таблицу нулевых точек станка.</p>
        <p>На втором шаге собирается инструментальная сборка, состоящая из патрона, оправки, резцедержателя и другого типа оснастки, в которую устанавливается режущий инструмент. При этом
            необходимо обеспечить безопасный вылет режущего инструмента
            от торца оснастки. Далее происходит настройка инструмента, т.е.
            определяются координаты положения режущей кромки инструмента относительно посадочных поверхностей станка. После этого
            настроенный инструмент устанавливается в станок, а настроечные
            данные вносятся с таблицу инструмента в СЧПУ. В некоторых
            случаях настройка инструмента происходит после его установки в
            станок</p>
        <p>Третий шаг подразумевает запись УП в СЧПУ станка. После
            этого УП может быть проверена средствами СЧПУ на наличие
            ошибок. УП для обработки должна быть выбрана в режиме автоматической работы станка.</p>
        <p>На процесс наладки в норме времени выделяется большая
            часть подготовительно-заключительного времени (setup time).
            Подготовительно-заключительное время – интервал времени, затрачиваемый на подготовку исполнителя и средств технологического
            оснащения к выполнению технологической операции и приведению последних в порядок после окончания смены и (или)
            выполнения этой операции для партии заготовок.</p>
        <p>В процессе обработки неоднократно может выполняться
            подналадка. Подналадка – дополнительная регулировка технологического оборудования и (или) технологической оснастки при
            выполнении технологической операции для восстановления достигнутых при наладке значений параметров.</p>

    </div>

</body>
</html>