<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наша политика</title>
</head>
<body>
<h3>Политика конфидициальности</h3>

   <div style="text-indent: 25px;">
    <p> Настоящая политика обработки персональных данных (далее по тексту — «Политика») устанавливает объем,
        цели и способы обработки персональных данных физических лиц, публикуется в открытом доступе в соответствии
        с требованиями Федерального закона РФ «О персональных данных» № 152-ФЗ от 27.07.2006 г.</p>
    <p>1. Правовые основания обработки персональных данных.<br>
        Правовыми основаниями обработки персональных данных являются: ст. 6 Федерального закона РФ «О персональных данных»,
        согласие субъекта персональных данных.</p>
    <p>2. Согласие пользователя на обработку персональных данных.<br>
        Отправляя сообщение через формы обратной связи, размещенные на сайте, пользователь сайта выражает свое согласие на обработку
        персональных данных в определенных настоящей Политикой целях и объеме.</p>
    <p>Регистрируясь на сайте Токарный мастер, тем самым акцептуя Пользовательское соглашение,
        субъект персональных данных выражает свое согласие на обработку его персональных данных в объеме,
        необходимом для исполнения со стороны Токарный мастер условий Пользовательского соглашения.</p>
    <p>3. Цель обработки персональных данных.<br>
        Целью обработки персональных данных является предоставление пользователю информации о Токарный мастер,
        анализ качества предоставляемого сервиса и улучшение качества обслуживания посетителей сайта Токарный мастер;
        исполнение договора; предоставление услуг, работа с жалобами и претензиями пользователей сайта.</p>
    <p>4. Объем обрабатываемых персональных данных.<br>
        Токарный мастер обрабатывает следующие персональные данные физических лиц, не являющихся сотрудниками Компании:
        логин, никнейм.</p>
    <p> На сайте установлены счетчики посещаемости сервисов аналитики «Google Analytics» и «Яндекс.Метрика»,
        предназначенные для оценки посещаемости веб-сайтов и анализа поведения пользователей.
        Данные о пользователях, полученные с помощью указанных сервисов, являются обезличенными и используются Токарный мастер
        для оценки качества работы сайта.</p>
    <p>5. Конфиденциальность персональных данных.<br>
        Токарный мастер не раскрывает третьим лицам и не распространяет персональные данные пользователей сайта без их согласия
        кроме случаев, предусмотренных федеральным законом.</p>
    <p>6. Срок обработки персональных данных.<br>
        Предоставленные пользователем данные обрабатываются до момента ликвидации (реорганизации) Токарный мастер.</p>
    <p>7. Права субъекта персональных данных.<br>
        Субъект персональных данных вправе направить запрос Токарный мастер на получение информации,
        касающейся обработки его персональных данных в соответствии
        с требованиями статьи 14 Федерального закона РФ «О персональных данных».</p>
    <p>8. Защита персональных данных.<br>
        Токарный мастер принимает меры, необходимые и достаточные для обеспечения выполнения обязанностей,
        предусмотренных Федеральным законом «О персональных данных» и принятыми в соответствии с ним
        нормативными правовыми актами.</p>
    <p>Токарный мастер самостоятельно определяет состав и перечень мер,
        необходимых и достаточных для обеспечения выполнения таких обязанностей, в частности:<br></p>
    <p>а) назначено лицо, ответственное за организацию обработки персональных данных;</p>
    <p>б) разработаны и утверждены локальные акта по вопросам обработки и защиты персональных данных;</p>
    <p>в) применяются правовые, организационные и технические меры по обеспечению безопасности персональных данных:</p>
    <p>- определены угрозы безопасности персональных данных при их обработке в информационных системах персональных данных;</p>
    <p>- установлены правила доступа к данным, обрабатываемым в информационной системе персональных данных,
        а также обеспечивается регистрация и учет всех действий, совершаемых с персональными данными
        в информационной системе персональных данных</p>
    <p>г) осуществляется контроль за принимаемыми мерами по обеспечению безопасности персональных данных
        и уровнем защищенности информационных систем персональных данных;</p>
    <p>д) осуществляется оценка вреда, который может быть причинен субъекту персональных данных в случае нарушения
        требований действующего законодательства РФ, соотношение указанного вреда и принимаемых Токарный мастер мер,
        направленных на обеспечение выполнения обязанностей, предусмотренных действующим законодательством РФ;</p>
    <p>е) соблюдаются условия, исключающие несанкционированный доступ к материальным носителям персональных данных
        и обеспечивающие сохранность персональных данных;</p>
    <p>ж) работники Токарный мастер, непосредственно осуществляющие обработку персональных данных,
        ознакомлены с положениями законодательства Российской Федерации о персональных данных,
        в том числе с требованиями к защите персональных данных, локальными актами по вопросам обработки
        и защиты персональных данных.</p>
    <p>В целях обеспечения конфиденциальности информации и защиты персональных данных Токарный мастер поддерживает
        соответствующую ИТ-среду и принимает все меры, необходимые для предотвращения несанкционированного доступа.</p>
   </div>
</body>
</html>