<!DOCTYPE html>
{% load static %}
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
    <link rel="icon" href="{% static 'img/cncTop.png' %}" type="image/x-icon">

</head>

<header class="back-Ap" style="background-image: url({% static 'img/верхний фон.png' %})">

    <p class="master" >Токарный мастер</p>

    <form method = "post" action="{% url 'main' %}">
        {% csrf_token %}
        <button class="main-button" type="submit">Главная</button>
    </form>
    <div>
        <img class="cnc" src="{% static 'img/cnc.png' %}" alt="cnc" >

    </div>

    <form method = "get" action="{% url 'reg' %}">
        <button class="reg-button" type="submit">Регистрация</button>
    </form>
<!--    <a href="{% url 'reg' %}" class="reg-button">Регистрация </a>-->
    <form method = "post" action="{% url 'enter' %}">
        {% csrf_token %}
        <button class="vhod-button" type="submit">Вход</button>
    </form>

</header>

<body >

    <div class="back-Main" style="background-image: url({% static 'img/общий фон.png' %})">

        <div class="back-Left" style="background-image: url({% static 'img/левый фон.png' %})">

            <form method = "post" action="{% url 'catalog' %}">
                {% csrf_token %}
                <button class="left-button1" type="submit">Каталог токарного инструмента</button>
            </form>
            <form method = "post" action="{% url 'info' %}">
                {% csrf_token %}
                <button class="left-button2" type="submit">Полезная информация</button>
            </form>
            <form method = "post" action="{% url 'process' %}">
                {% csrf_token %}
                <button class="left-button3" type="submit">Способы обработки сложных деталей</button>
            </form>
            <form method = "post" action="{% url 'machine' %}">
                {% csrf_token %}
                <button class="left-button4" type="submit">Наладка станка с ЧПУ</button>
            </form>
            <form method = "post" action="{% url 'guide' %}">
                {% csrf_token %}
                <button class="left-button5" type="submit">Справочная информация</button>
            </form>

        </div>
    </div>

</body>

<footer>
    <div class="back-Down" style="background-image: url({% static 'img/нижний фон.png' %})">
        <img class="sign-down" src="{% static 'img/sign-down.png' %}" alt="sign" >
        <small class="signature1">2024 Токарный мастер</small><br>
        <a href="http://127.0.0.1:8000/politics/" ><small class="signature2">Политика конфиденциальности</small></a>
    </div>
</footer>

</html>