<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
    <title>Точение</title>
</head>
<body>
    {% include "Secondmain.html" %}

    <div class="textMashine">
        <h3>Точность обработки</h3>
        <p>Обеспечение заданной точности детали основное требование к технологическому процессу.
            Под точностью обработки понимают степень соответствия изготовленной детали требованиям чертежа и технических условий.
            Точность детали слагается из точности выполнения размеров, формы, относительного положения поверхностей детали и
            шероховатости поверхностей. Под точностью формы поверхности понимают степень соответствия ее размеров в осевом и
            поперечном сечениях геометрической форме. При разработке технологического процесса изготовления детали для обеспечения
            требуемой точности обработки приходится учитывать причины, вызывающие погрешности обработки. Основными причинами
            погрешностей обработки на токарных станках являются: недостаточная точность и жесткость станка; неточность изготовления
            и недостаточная жесткость режущего и вспомогательного инструмента; погрешности установки заготовки на станке и ее
            деформация при зажиме или под действием усилий резания и нагрева, погрешности в процессе измерения и др.</p>
        <img class="machineCNC" src="{% static 'img/tochenie1.png'%}" >
        <p>В процессе обработки система СПИД (станок - приспособление - инструмент - деталь) станка деформируется
            под действием сил резания. Например, передний центр может сместиться относительно оси 00 ненагруженного станка
            на величину h1 (смотри рисунок выше), а задний - на величину h2. Деталь при этом прогнется на величину h3,
            а суппорт с резцом сместится на величину h4.Эти деформации на практике могут проявляться как совместно, так и в отдельности и в результате могут привести к
            отклонениям формы делали от цилиндричной (рисунок слева). Для выполнения точностных требований, предъявляемых к готовой
            детали, последовательность технологических операций назначают, исходя из следующих соображений. 1. Сначала производят
            черновую обработку заготовки, при которой удаляются наибольшие слои металла. Это позволяет выявить дефекты заготовки и
            снять с нее внутренние напряжения, вызывающие деформации. Все операции черновой обработки требуют значительных сил
            резания, значительно влияющих на точность окончательно обработанной поверхности; поэтому их следует выполнять до
            операций чистовой обработки. 2. Обработку поверхностей, на которых возможные дефекты заготовок недопустимы, следует
            выполнять в начале технологического процесса при выполнении черновых операций. 3. Следует в первую очередь обрабатывать
            поверхности, при удалении припуска с которых в наименьшей степени снижается жесткость заготовки. 4. Чистовые операции
            надо выполнять в конце обработки, так как при этом уменьшается возможность повреждения уже обработанных поверхностей.
            5. Поверхности детали, связанные между собой точным относительным расположением, необходимо обрабатывать с одной
            установки и в одной рабочей позиции. При обработке штучных заготовок необходимая точность размеров достигается снятием
            припуска при последовательных проходах. Перед каждым проходом обрабатываемую поверхность детали измеряют и определяют
            величину припуска, а затем назначают величину подачи инструмента. Так повторяют до тех пор, пока фактический размер
            обрабатываемой поверхности не войдет в пределы допуска на размер по чертежу. </p>
        <img class="machineCNC" src="{% static 'img/tochenie2.png'%}" >
        <p>При обработке партии деталей описанным
            методом обрабатывают только первую деталь, а затем фиксируют взаимное положение механизмов станка и производят обработку
            остальных деталей партии. Чем выше требования к точности детали, тем выше требования к металлорежущему станку,
            режущему и вспомогательному инструменту, точности измерения, квалификации рабочего и т. д., т. е. получение более
            высокой точности обработки требует более высоких затрат времени и труда. Поэтому различают экономическую и достижимую
            точность обработки. Экономическая точность обработки - понятие условное, определяющее возможность выбора способа
            обработки деталей с необходимой точностью при минимальных затратах времени и труда. На рисунке справа приведена
            зависимость стоимости обработки детали от точности ее изготовления. Достижимая точность - максимальная точность,
            которая может быть достигнута при обработке детали рабочим высокой квалификации в условиях производства, предназначенных
            для обработки деталей с заданной точностью. Сравнением экономической и достижимой точности определяют совершенство
            технологического процесса обработки детали.</p>
    </div>
</body>
</html>